{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "{{ s3_bucket_description }}",
  "Parameters" : {
    "BucketName" : {
      "Type" : "String"
    },
    "Versioning" : {
      "Type" : "String",
      "AllowedValues" : ["Suspended", "Enabled"]
    }
  },
  "Resources" : {
    "Bucket" : {
      "Type" : "AWS::S3::Bucket",
      "Properties" : {
        "BucketName" : { "Ref" : "BucketName" }
        {% if s3_bucket_use_versioning is defined and s3_bucket_use_versioning == 'yes' %}
        ,
        "VersioningConfiguration" :  {
          "Status" : { "Ref" : "Versioning" }
        }
        {% endif %}
      }
    }
  },
  "Outputs" : {
    "BucketName" : {
      "Value" : { "Ref" : "Bucket" }
    }
  }
}
