{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Parameters" : {
    "BucketName" : {
      "Type" : "String"
    },
    "Versioning" : {
      "Type" : "String",
      "AllowedValues" : ["Suspended", "Enabled"]
    }
  },
  "Resources" : {
    "Bucket" : {
      "Type" : "AWS::S3::Bucket",
      "Properties" : {
        "BucketName" : { "Ref" : "BucketName" },
        "VersioningConfiguration" :  {
          "Status" : { "Ref" : "Versioning" }
        }
      }
    }
  },
  "Outputs" : {
    "BucketName" : {
      "Value" : { "Ref" : "Bucket" }
    }
  }
}
