{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "{{ s3_bucket_description }}",
  "Parameters" : {
    "BucketName" : {
      "Type" : "String"
    },
    "Versioning" : {
      "Type" : "String",
      "AllowedValues" : ["Suspended", "Enabled"]
    }
    {% if s3_replication_config is defined %}
    ,
    "ReplicationRoleArn" : {
      "Type" : "String"
    }
    {% endif %}
  },
  "Resources" : {
    "Bucket" : {
      "Type" : "AWS::S3::Bucket",
      "Properties" : {
        {% if s3_bucket_name is defined and s3_bucket_name != '' %}"BucketName" : { "Ref" : "BucketName" }{% endif %}
        {% if s3_bucket_use_versioning is defined and s3_bucket_use_versioning == 'yes' %}
        ,
        "VersioningConfiguration" :  {
          "Status" : { "Ref" : "Versioning" }
        }
        {% endif %}
        {% if s3_replication_config is defined %}
        ,
        "ReplicationConfiguration" : {
          "Role" : { "Ref" : "ReplicationRoleArn" },
          "Rules" : [
            {% for rule in s3_replication_config %}
            {
              {% if rule.id is defined %}"Id" : "{{ rule.id }}",{% endif %}
              "Destination" : { "Bucket": "{{ rule.dest_bucket }}" },
              "Prefix" : "{{ rule.prefix|default('') }}",
              "Status" : "{{ rule.status|default('Enabled') }}"
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
        {% endif %}
        {% if s3_bucket_lifecycle_rules is defined %}
        ,
        "LifecycleConfiguration" : {
          "Rules" : [
            {% for rule in s3_bucket_lifecycle_rules %}
            {
              "Status" : "{{ rule.status | default(s3_bucket_lifecycle_rule_status) }}"
              {% if rule.id is defined %}
              ,
              "Id" : "{{ rule.id }}"
              {% endif %}
              {% if rule.expiration_in_days is defined %}
              ,
              "ExpirationInDays" : "{{ rule.expiration_in_days }}"
              {% endif %}
              {% if rule.expiration_date is defined %}
              ,
              "ExpirationDate"  : "{{ rule.expiration_date }}"
              {% endif %}
              {% if rule.noncurrent_version_expiration_in_days is defined %}
              ,
              "NoncurrentVersionExpirationInDays" : "{{ rule.noncurrent_version_expiration_in_days }}"
              {% endif %}
              {% if rule.noncurrent_version_transitions is defined %}
              ,
              "NoncurrentVersionTransitions" : [
                {% for transition in rule.noncurrent_version_transitions %}
                {
                  "StorageClass" : "{{ transition.storage_class }}",
                  "TransitionInDays" : "{{ transition.days }}"
                }
                {% if not loop.last %},{% endif %}
                {% endfor %}
              ]
              {% endif %}
              {% if rule.transitions is defined %}
              ,
              "Transitions" : [
                {% for transition in rule.transitions %}
                {
                  "StorageClass" : "{{ transition.storage_class }}",
                  "TransitionInDays" : "{{ transition.days }}"
                }
                {% if not loop.last %},{% endif %}
                {% endfor %}
              ]
              {% endif %}
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
        {% endif %}
      }
    }
    {% if s3_bucket_policy is defined %}
    ,
    "BucketPolicy" : {
      "Type" : "AWS::S3::BucketPolicy",
      "Properties" : {
        "Bucket" : { "Ref": "Bucket"},
        "PolicyDocument" : {{ bucket_policy|to_json }}
      }
    }
    {% endif %}
  },
  "Outputs" : {
    "BucketName" : {
      "Value" : { "Ref" : "Bucket" }
    }
  }
}
